section.section.way_section
	.container
		.way__inner
			.way_image
				img.way_image__head(src="images/mill-head.svg", alt="")
				img.way_image__body(src="images/mill-body.svg", alt="")
			.way_content
				h2.way__title Our way
				p
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic maiores nihil nulla placeat porro veritatis.
					|Ad asperiores distinctio eligendi, impedit in perferendis? Aliquam ducimus enim eveniet, id nemo soluta voluptate.
				p
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic maiores nihil nulla placeat porro veritatis.
					|Ad asperiores distinctio eligendi, impedit in perferendis? Aliquam ducimus enim eveniet, id nemo soluta voluptate.
				a.btn.btn--pink_mod(href="#") More about us